<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="/assets/css/bs5/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/project.css">
</head>
<body>
    <div class="container">
        <th:block th:replace="layout/header :: header"></th:block>

        <th:block layout:fragment="content"></th:block>

        <th:block th:replace="layout/footer :: footer"></th:block>
    </div>

    <!-- login modal -->
    <th:block th:replace="layout/login_modal :: login_modal"></th:block>

<script src="/assets/js/bs5/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/d191e02584.js" crossorigin="anonymous"></script>
<script src="/assets/js/project.js"></script>
</body>
</html>








