<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zzyzzy.hello.boot.spring5boot.mybatis.MemberMapper">
    <insert id="insertMember" parameterType="Member">
        insert into member2
        (userid, passwd, name, jumin, email, zipcode, addr1, addr2, phone)
        values (#{userid},#{passwd},#{name},#{jumin},#{email},
                #{zipcode},#{addr1},#{addr2},#{phone})
    </insert>

    <select id="selectMember" resultType="Member">
        select * from member2
    </select>

    <select id="findZipcode" resultType="Zipcode">
        select * from zipcode2013 where dong like #{dong}
    </select>

    <select id="selectOneUserid" resultType="Integer">
        select count(userid) cnt from member2 where userid = #{uid}
    </select>

    <select id="selectOneMember" resultType="Member">
        select userid, name, email, regdate from member2
        where userid = #{userid} and passwd = #{passwd}
    </select>

</mapper>







