<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/template}">

<th:block layout:fragment="content">
    <div id="main">
        <div class="mt-5">
            <i class="fa-regular fa-images fa-2xl"> 갤러리</i>
            <hr>
        </div>

        <div class="row mt-5 mb-3">
            <div class="row offset-1 col-7">
                <div class="col-3">
                    <select class="form-select" id="findtype">
                        <option value="title">제목</option>
                        <option value="userid">아이디</option>
                        <option value="name">글쓴이</option>
                        <option value="contents">내용</option>
                        <option value="titcont">제목+내용</option>
                    </select>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control col-2" id="findkey">
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-light" id="findbtn">
                        <i class="fa-solid fa-magnifying-glass"></i> 검색하기</button>
                </div>
            </div>
            <div class="col-3 text-end">
                <button type="button" class="btn btn-light" id="newgalbtn">
                    <i class="fa fa-plus-circle"></i> 새글쓰기</button>
            </div>
        </div><!-- 검색 및 새글쓰기 -->

        <div class="row justify-content-center mb-4">
            <div class="col-10 card" style="width: 18rem">
                <a href="#"><img src="http://localhost/cdn/gendo.jpg"
                    class="card-img-top" alt="..."></a>

                <div class="card-body">
                    <h5 class="card-title">갤러리 제목</h5>
                    <p><span>작성자</span>
                        <span style="float: right">2023-07-20</span></p>
                    <p><span><i class="fa-regular fa-thumbs-up"></i>123</span>
                        <span style="float: right">
                       <i class="fa-regular fa-eye"></i>456</span></p>
                </div>
            </div>

            <div class="col-10 card" style="width: 18rem">
                <a href="#"><img src="/assets/img/gendo.jpg"
                                 class="card-img-top" alt="..."></a>

                <div class="card-body">
                    <h5 class="card-title">갤러리 제목</h5>
                    <p><span>작성자</span>
                        <span style="float: right">2023-07-20</span></p>
                    <p><span><i class="fa-regular fa-thumbs-up"></i>123</span>
                        <span style="float: right">
                       <i class="fa-regular fa-eye"></i>456</span></p>
                </div>
            </div>

            <div class="col-10 card" style="width: 18rem">
                <a href="#"><img src="/assets/img/gendo.jpg"
                                 class="card-img-top" alt="..."></a>

                <div class="card-body">
                    <h5 class="card-title">갤러리 제목</h5>
                    <p><span>작성자</span>
                        <span style="float: right">2023-07-20</span></p>
                    <p><span><i class="fa-regular fa-thumbs-up"></i>123</span>
                        <span style="float: right">
                       <i class="fa-regular fa-eye"></i>456</span></p>
                </div>
            </div>

            <div class="col-10 card" style="width: 18rem">
                <a href="#"><img src="/assets/img/gendo.jpg"
                                 class="card-img-top" alt="..."></a>

                <div class="card-body">
                    <h5 class="card-title">갤러리 제목</h5>
                    <p><span>작성자</span>
                        <span style="float: right">2023-07-20</span></p>
                    <p><span><i class="fa-regular fa-thumbs-up"></i>123</span>
                        <span style="float: right">
                       <i class="fa-regular fa-eye"></i>456</span></p>
                </div>
            </div>

            <div class="col-10 card" style="width: 18rem">
                <a href="#"><img src="/assets/img/gendo.jpg"
                                 class="card-img-top" alt="..."></a>

                <div class="card-body">
                    <h5 class="card-title">갤러리 제목</h5>
                    <p><span>작성자</span>
                        <span style="float: right">2023-07-20</span></p>
                    <p><span><i class="fa-regular fa-thumbs-up"></i>123</span>
                        <span style="float: right">
                       <i class="fa-regular fa-eye"></i>456</span></p>
                </div>
            </div>

            <div class="col-10 card" style="width: 18rem">
                <a href="#"><img src="/assets/img/gendo.jpg"
                                 class="card-img-top" alt="..."></a>

                <div class="card-body">
                    <h5 class="card-title">갤러리 제목</h5>
                    <p><span>작성자</span>
                        <span style="float: right">2023-07-20</span></p>
                    <p><span><i class="fa-regular fa-thumbs-up"></i>123</span>
                        <span style="float: right">
                       <i class="fa-regular fa-eye"></i>456</span></p>
                </div>
            </div>

            <div class="col-10 card" style="width: 18rem">
                <a href="#"><img src="/assets/img/gendo.jpg"
                                 class="card-img-top" alt="..."></a>

                <div class="card-body">
                    <h5 class="card-title">갤러리 제목</h5>
                    <p><span>작성자</span>
                        <span style="float: right">2023-07-20</span></p>
                    <p><span><i class="fa-regular fa-thumbs-up"></i>123</span>
                        <span style="float: right">
                       <i class="fa-regular fa-eye"></i>456</span></p>
                </div>
            </div>

            <div class="col-10 card" style="width: 18rem">
                <a href="#"><img src="/assets/img/gendo.jpg"
                                 class="card-img-top" alt="..."></a>

                <div class="card-body">
                    <h5 class="card-title">갤러리 제목</h5>
                    <p><span>작성자</span>
                        <span style="float: right">2023-07-20</span></p>
                    <p><span><i class="fa-regular fa-thumbs-up"></i>123</span>
                        <span style="float: right">
                       <i class="fa-regular fa-eye"></i>456</span></p>
                </div>
            </div>

            <div class="col-10 card" style="width: 18rem">
                <a href="#"><img src="/assets/img/gendo.jpg"
                                 class="card-img-top" alt="..."></a>

                <div class="card-body">
                    <h5 class="card-title">갤러리 제목</h5>
                    <p><span>작성자</span>
                        <span style="float: right">2023-07-20</span></p>
                    <p><span><i class="fa-regular fa-thumbs-up"></i>123</span>
                        <span style="float: right">
                       <i class="fa-regular fa-eye"></i>456</span></p>
                </div>
            </div>

            <div class="col-10 card" style="width: 18rem">
                <a href="#"><img src="/assets/img/gendo.jpg"
                                 class="card-img-top" alt="..."></a>

                <div class="card-body">
                    <h5 class="card-title">갤러리 제목</h5>
                    <p><span>작성자</span>
                        <span style="float: right">2023-07-20</span></p>
                    <p><span><i class="fa-regular fa-thumbs-up"></i>123</span>
                        <span style="float: right">
                       <i class="fa-regular fa-eye"></i>456</span></p>
                </div>
            </div>

            <div class="col-10 card" style="width: 18rem">
                <a href="#"><img src="/assets/img/gendo.jpg"
                                 class="card-img-top" alt="..."></a>

                <div class="card-body">
                    <h5 class="card-title">갤러리 제목</h5>
                    <p><span>작성자</span>
                        <span style="float: right">2023-07-20</span></p>
                    <p><span><i class="fa-regular fa-thumbs-up"></i>123</span>
                        <span style="float: right">
                       <i class="fa-regular fa-eye"></i>456</span></p>
                </div>
            </div>

            <div class="col-10 card" style="width: 18rem">
                <a href="#"><img src="/assets/img/gendo.jpg"
                                 class="card-img-top" alt="..."></a>

                <div class="card-body">
                    <h5 class="card-title">갤러리 제목</h5>
                    <p><span>작성자</span>
                        <span style="float: right">2023-07-20</span></p>
                    <p><span><i class="fa-regular fa-thumbs-up"></i>123</span>
                        <span style="float: right">
                       <i class="fa-regular fa-eye"></i>456</span></p>
                </div>
            </div>

        </div><!-- 갤러리 이미지 리스트 -->

    </div>

    <script src="/assets/js/gallery.js" charset="utf-8"></script>

</th:block>

</html>