<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/template}">

<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/project.css"/>
</head>
<th:block layout:fragment="content"
      th:with="isLogined=${(#strings.isEmpty(session.member))? false : true}">
    <div id="main">
        <div class="mt-5">
            <i class="fa-solid fa-download fa-2xl"> 자료실</i>
            <hr>
        </div>

        <div class="row mb-3 mt-5">
            <div class="row offset-1 col-5">
                <button type="button" class="btn btn-light col-3">
                    <i class="fa fa-chevron-left"></i> 이전게시물</button>
                &nbsp;
                <button type="button" class="btn btn-light col-3">
                    <i class="fa fa-chevron-right"></i> 다음게시물</button>
            </div>
            <div class="col-5 text-end">
                <button type="button" class="btn btn-light col-3" id="newpdsbtn">
                    <i class="fa fa-plus-circle"></i> 새글쓰기</button>
            </div>
        </div> <!-- 버튼들 -->

        <div class="row offset-1 col-10">
            <table>
                <tr><th class="vtit" colspan="2" th:text="${p.title}">제목</th></tr>

                <tr class="vinfo"><td th:text="${p.userid}">작성자</td>
                    <td class="text-end" th:text="|${p.regdate} / ${p.thumbs} / ${p.views}|">작성일/추천/조회</td></tr>

                <tr><td class="vcont" colspan="2" th:text="${p.contents}">본문글</td></tr>

                <tr>
                    <td class="vinfo" colspan="2">
                        <a th:href="|/pds/down/${p.pno}|"
                           th:text="${p.pa.fname}">파일명</a>
                        <span th:text="|${p.pa.fsize} KB/${p.pa.fdown}회 다운로드|">파일정보</span>
                    </td>
                </tr>

            </table>
        </div><!-- 본문글 -->

        <div class="row mt-3 mb-5">
            <div class="row offset-1 col-5">
                <button type="button" class="btn btn-warning col-3" id="modpdsbtn">
                    <i class="fa fa-pencil"></i> 수정하기</button>
                &nbsp;
                <button type="button" class="btn btn-danger col-3" id="rmvpdsbtn">
                    <i class="fa fa-trash-o"></i> 삭제하기</button>
            </div>
            <div class="col-5 text-end">
                <button type="button" class="btn btn-light col-3" id="lstpdsbtn">
                    <i class="fa fa-list"></i> 목록으로</button>
            </div>
        </div> <!-- 버튼들 -->

        <div class="my-5">
            <i class="fa-solid fa-comments fa-2xl"> 나도 한마디</i>
        </div>

        <div class="row offset-1 col-10">
            <table class="table tbborder">
                <th:block th:each="pc : ${pcs}">
                    <th:block th:if="${pc.cno eq pc.ref}">
                        <tr>
                        <td style="width:25%"> <h4 th:text="${pc.userid}">zzyzzy</h4> </td>
                        <td>
                            <div class="cmtbg">[[${pc.regdate}]]
                                <span style="float: right">
                                    <a th:href="|javascript:showReply(${pc.cno})|">[추가]</a> / [수정] / [삭제]</span>
                            </div>
                            <p class="py-3" th:text="${pc.comments}">댓글댓글</p>
                        </td>
                        </tr><!-- comment -->
                    </th:block>

                    <th:block th:if="${pc.cno ne pc.ref}">
                        <tr>
                        <td style="width:25%"> <h4>&nbsp;</h4> </td>
                        <td>
                            <div class="rpybg">[[${pc.userid}]]
                            <span style="float: right" th:text="${pc.regdate}">2023-12-12 12:12:12</span></div>
                            <p class="py-3" th:text="${pc.comments}">리플리플</p>
                        </td>
                    </tr><!-- reply -->
                    </th:block>
                </th:block>
            </table>
        </div><!-- 댓글목록 -->

        <div class="row offset-1 col-10 my-3">
            <form name="cmtfrm" id="cmtfrm" class="bg-light p-3">
                <div class="row align-items-center">
                    <label class="col-2 form-label text-end"
                       th:text="${(isLogined) ? session.member.userid : '로그인하세요' }">
                            로그인하세요</label>
                    <div class="col-8">
                        <textarea id="comments" name="comments"
                            rows="7" class="form-control"></textarea>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-secondary"
                            id="newcmtbtn"><i class="fa fa-commenting"></i>댓글쓰기</button>
                    </div>
                </div>

                <input type="hidden" name="userid" id="userid"
                       th:value="${(isLogined) ? session.member.userid : 'abc123'}">
                <input type="hidden" name="pno" id="pno" th:value="${p.pno}">
            </form>
        </div><!-- 댓글폼 -->

    </div>

    <div class="modal hide" id="replyModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">대댓글 쓰기</h3>
                </div>
                <div class="modal-body">
                    <form id="replyfrm" class="well form-inline">
                        <textarea name="comments" id="reply" rows="8" cols="60" class="span4"></textarea>
                        <input type="hidden" name="userid" th:value="${(isLogined) ? session.member.userid : 'abc123'}">
                        <input type="hidden" name="pno" th:value="${p.pno}">
                        <input type="hidden" name="ref" id="ref">
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="replybtn"
                            class="btn btn-danger">대댓글 작성</button>
                </div>
            </div>
        </div>
    </div> <!-- 대댓글 입력 폼 -->

    <script src="/assets/js/pds.js" charset="utf-8"></script>
</th:block>

</html>