<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
<h1>Hello, World!!</h1>
<button type="button" class="btn btn-danger">버튼1</button>
<button type="button" class="btn btn-success">버튼1</button>
<button type="button" class="btn btn-dark">버튼1</button>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>