<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/project.css">
</head>
<body>
    <div class="container">
        <header class="row">
            <div class="col"><h1 id="logo">Lorem Ipsum</h1></div>
            <div class="col text-end">
                <button type="button" class="btn btn-danger mt-2"
                    data-bs-target="#loginfrm" data-bs-toggle="modal">로그인</button>
                <button type="button" class="btn btn-primary mt-2">회원가입</button>
            </div>
        </header>

        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item"><a href="/intro" class="nav-link">프로젝트 소개</a></li>
                <li class="nav-item"><a href="/join/agree" class="nav-link">회원가입</a></li>
                <li class="nav-item"><a href="/board/list?cpg=1" class="nav-link">게시판</a></li>
                <li class="nav-item"><a href="/pds/list?cpg=1" class="nav-link">자료실</a></li>
                <li class="nav-item"><a href="/gallery/list?cpg=1" class="nav-link">갤러리</a></li>
                <li class="nav-item"><a href="/admin" class="nav-link">관리자</a></li>
            </ul>
        </nav>

        <div id="main">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-1 text-center p-3">超機密 PROJECT 補完計劃</h1>
                </div>
                <div class="col-8 offset-2">
                    <img src="/assets/img/gendo.jpg">
                </div>
            </div><!-- title, image -->

            <div class="row">
                <div class="col-8 offset-2 text-center p-3">
                    <p>Mauris sit amet purus lacus. Phasellus et rutrum ipsum. Nam dignissim diam sit amet metus pulvinar, nec tempus tortor lacinia. Nulla odio sapien, ullamcorper et nibh a, volutpat consectetur nunc. Curabitur posuere sem at maximus pulvinar. Phasellus mollis, libero vel hendrerit ornare, tellus lorem tempor neque, eu blandit neque arcu vel libero. In vitae nulla at ligula pharetra posuere a quis purus. Aenean porta at libero ut aliquam. Mauris faucibus velit dui, id ullamcorper risus scelerisque non.</p>
                    <div><button type="button" class="btn btn-success">
                        지금 바로 시작하기</button></div>
                </div>
            </div><!-- hero -->

            <div class="row m-4">
                <div class="col-4 my-4">
                    <h2>極秘</h2>
                    <p>Suspendisse potenti. Nullam dolor risus, faucibus sed tempus sit amet, tincidunt vitae lorem. Vestibulum eu elit nulla. Donec eu suscipit diam. Nulla ut aliquam massa, et ullamcorper justo. Cras bibendum, magna vel interdum vulputate, turpis urna sollicitudin nisi, at tristique ipsum diam eget magna. Fusce eget erat lorem. In suscipit lacus ac mi dignissim posuere. Quisque libero mi, tincidunt sed orci sed, malesuada iaculis enim. Vestibulum et iaculis leo. Integer hendrerit velit id ultricies tincidunt. Donec gravida sapien sed tellus blandit, eget vulputate nisi tincidunt. Vivamus dignissim convallis finibus.</p>
                    <div><button type="button" class="btn btn-light">
                        자세히 보기 &blacktriangleright;</button> </div>
                </div>
                <div class="col-4 my-4">
                    <h2>誤謬</h2>
                    <p>Quisque porttitor ipsum a massa viverra faucibus. Suspendisse ullamcorper urna sed est pretium pretium. Phasellus vitae nibh nunc. Etiam nec lacinia odio. Duis egestas tempor tellus et sodales. Vivamus sit amet porta mauris, ut cursus orci. Etiam ac risus ut mauris mattis ultricies. Praesent maximus hendrerit orci, eu consectetur lectus efficitur eu.</p>
                    <div><button type="button" class="btn btn-light">
                        자세히 보기 &blacktriangleright;</button> </div>
                </div>
                <div class="col-4 my-4">
                    <h2>警告</h2>
                    <p>Nunc quis ex id orci semper dignissim. Vivamus quis sapien ac ligula blandit dictum ac eget est. Sed purus risus, posuere id molestie id, ultrices sed augue. Phasellus in ligula pretium, ultricies lectus non, dignissim lectus. Sed imperdiet laoreet eros, eget eleifend nisi dignissim nec. Donec blandit fringilla augue, eget varius diam pulvinar in. Curabitur rhoncus in massa vel posuere.</p>
                    <div><button type="button" class="btn btn-light">
                        자세히 보기 &blacktriangleright;</button> </div>
                </div>
                <div class="col-4 my-4">
                    <h2>危險</h2>
                    <p>Etiam aliquet vulputate magna in tempus. Nam dictum felis ac erat scelerisque commodo. Vivamus velit nibh, mollis quis mollis fermentum, auctor quis ipsum. Aliquam faucibus porta libero vel vehicula. Vivamus commodo lectus et augue pharetra, eget mattis eros blandit. Ut tempus justo at est fermentum consectetur. Maecenas dapibus urna nec mi suscipit commodo. Vivamus vel rutrum lorem.</p>
                    <div><button type="button" class="btn btn-light">
                        자세히 보기 &blacktriangleright;</button> </div>
                </div>
                <div class="col-4 my-4">
                    <h2>隔離</h2>
                    <p>Suspendisse nisl turpis, ultrices ac nulla ut, condimentum interdum sem. Morbi venenatis maximus nisi, ultrices suscipit felis ullamcorper ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum mollis mi sed tempus consectetur. Vivamus aliquam lobortis molestie. Donec eget dapibus ex. Duis pulvinar lobortis magna vitae sodales. Quisque et ipsum eros. Praesent accumsan orci sit amet ultricies efficitur. Phasellus orci enim, pharetra sed egestas et, mollis lobortis est. Cras at vehicula orci, in porta magna. Donec condimentum, sem non dignissim facilisis, augue quam hendrerit tortor, vel molestie magna ipsum eu lacus. Morbi sodales finibus arcu, vel accumsan purus consequat dapibus. Nunc ultricies tellus at magna pretium, non suscipit lectus feugiat.</p>
                    <div><button type="button" class="btn btn-light">
                        자세히 보기 &blacktriangleright;</button> </div>
                </div>
                <div class="col-4 my-4">
                    <h2>制限</h2>
                    <p>Sed eleifend felis in est tempor, eu ullamcorper quam viverra. Nullam malesuada posuere facilisis. Mauris tempus, magna sed dapibus auctor, orci erat mattis eros, a scelerisque augue urna ut est. Nam ut mi consequat, dignissim lorem nec, tincidunt diam. Morbi vel tellus nisi. In hac habitasse platea dictumst. Cras tempus imperdiet elit, quis viverra ligula molestie sit amet. Morbi vitae tempus massa.</p>
                    <div><button type="button" class="btn btn-light">
                        자세히 보기 &blacktriangleright;</button> </div>
                </div>
            </div><!-- article -->
        </div>

        <footer>
            <h6 class="col text-end bg-dark bg-opacity-10 p-3">
                Copyright &copy; Lorem Ipsum 2023. zzyzzy. All rights Reserved.
                Created by Bootstrap5</h6>
        </footer>
    </div>

    <!-- login modal -->
    <div class="modal" id="loginfrm" role="dialog"
        data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>로그인</h2>
                    <button type="button" class="btn btn-light"
                        data-bs-dismiss="modal">닫기</button>
                </div><!-- mdh -->
                <div class="modal-body"></div><!-- mdb -->
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-danger" id="loginbtn">로그인</button>
                    <button type="button" class="btn btn-warning">아이디/비밀번호 찾기</button>
                </div><!-- mdf -->
            </div> <!-- mdc -->
        </div> <!-- mdd -->
    </div>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>








